/* ---------- calendar ---------- */
.d4-event-calendar {
  position: relative;
}
table.calendar {
  border-radius: 10px;
  overflow-x: scroll;
  width: 100%;
  min-width: 330px;
}
tr.calendar-row	{  }
td.calendar-day	{ min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#eceff5; }
div.day-number {
  background: #999 none repeat scroll 0 0;
  color: #fff;
  float: right;
  font-weight: bold;
  margin: -5px -5px 0 0;
  padding: 5px;
  text-align: center;
  width: 20px;
}
td.calendar-day, td.calendar-day-np {
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  height: auto;
  padding: 5px;
  vertical-align: top;
  width: 120px;
}
.day-internal {
  min-height: 110px;
}
.cal-event-wrapper:nth-child(2) {
  padding: 8px 17px 0 0;
}
.d4-cal-wrapper {
  background: #f6f6f6 none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  color: #333;
  margin: 30px auto;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
td.calendar-day-head {
  background: transparent none repeat scroll 0 0;
  border-bottom: 1px solid #cdcdcd;
  color: #444;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 14%;
}
.d4-event-calendar h2 {
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
  padding: 30px 0 25px;
  text-align: center;
}
.cal-change-button {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin: 23px 10px;
  width: 30px;
}
.cal-change-button:hover {
  background-color: #333333;
}
.cal-prev {
	background-image: url('../img/button_prev.png');
	float: left;
}
.cal-next {
	background-image: url('../img/button_next.png');
	float: right;
}
.d4-cal-wrapper .search-form input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin: 5px 5px -10px;
}
.d4-cal-wrapper .search-form input[type="submit"] {
  background: #999999 none repeat scroll 0 0;
  border: 0 none;
  margin-left: 0;
  padding: 6px;
}
.no-events {
  text-align: center;
  padding:5px;
}

/* ---------- Single Events ---------- */
#single-event-datetime tr {
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
}
#single-event-datetime {
  background: #f6f6f6 none repeat scroll 0 0;
  color: #444;
  width: 100%;
}
#single-event-datetime td {
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  padding: 10px;
  text-align: center;
}
#single-event-datetime tr:nth-child(1) td {
  background: #efefef none repeat scroll 0 0;
  font-weight: bold;
}
.single-event-right iframe {
  border-bottom: 1px solid #cdcdcd !important;
  border-left: 1px solid #cdcdcd !important;
  border-right: 1px solid #cdcdcd !important;
  max-width: 100%;
  height: 345px !important;
}
#main-content .addtocalendar a.atcb-link {
  background: #efefef none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  box-shadow: none;
  color: #444;
  text-decoration: none;
}
#main-content .addtocalendar {
  float: right;
}
.single-event-right h2 {
  float: left;
}
#main-content .atcb-item a {
    color: #444;
    text-decoration: none;
}
#main-content .atcb-item a:hover {
    color: #fff;
}
.button.registration-link {
  border-radius: 0 0 3px 3px;
  display: block;
  font-size: 1.2em;
}
#single-event-wrapper .event-filegroup {
  background: #f6f6f6 none repeat scroll 0 0;
  float: none;
  margin: 3px 0;
}
.single-event-right h3 {
  background: #333 none repeat scroll 0 0;
  border-radius: 3px 3px 0 0;
  color: #fff;
  font-size: 1.3em;
  font-weight: normal;
  margin: 8px auto -4px;
  text-align: center;
}
.all-day-event .all-day-row {
  display: table-row !important;
}

.all-day-row {
  display: none !important;
}

.all-day-event .single-event-times {
  display: none !important;
}
/* ---------- List Style ---------- */
.events-style_list h5, .events-style_agenda h5 {
  background: #333 none repeat scroll 0 0;
  color: #fff;
  font-size: 19px;
  margin-bottom: 0;
  padding: 15px;
}
.events-style_list h5 a, .events-style_agenda h5 a {
  color: #fff;
}
.d4-cal-wrapper.events-style_list, .d4-cal-wrapper .events-style_agenda {
  background: #efefef none repeat scroll 0 0;
  padding: 30px;
}
.events_list-datetime {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
}
.events_list-time {
  border-left: 1px solid #cdcdcd;
  margin-left: 7px;
  padding-left: 7px;
}
.events_list-time:empty {
  display: none;
}
.list-single-event {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 15px;
}
.events_list-thumb {
    max-width: 40%;
}
.events_list-thumb img {
  background: #fff none repeat scroll 0 0;
  border: 10px solid #fff;
  float: left;
  margin: 0 20px 20px 0;
}
.events_list-single {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 0 20px;
}
a.events_list-readmore {
  background: #279ad1 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: block;
  float: right;
  margin-bottom: 20px;
  margin-left: 4px;
  padding: 5px;
  text-align: center;
  width: 200px;
}
.d4-cal-wrapper.no-event-links a.events_list-readmore {
    display: none;
}
.no-event-links .cal-event-title a {
  pointer-events: none;
}
a.d4events-loadmore.no-loadmore {
    background: #9f9f9f;
    cursor:auto;
    pointer-events:none;
}
/* ---------- Files Feature ---------- */
.d4-cal-wrapper a.events_files {
  background: #1a78b2 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 0.8em;
  margin-bottom: 3px;
  margin-right: 2px;
  min-width: 100px;
  padding: 3px 9px;
}
/*.events_files.fileclass_pdf::before {
  content: "Ã¯â€¡Â";
  font-family: "icomoon";
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 4px;
}*/
h6.event-filetype {
  border-bottom: 1px dashed #cdcdcd;
  font-size: 1em;
  margin-bottom: 6px;
  padding-bottom: 6px;
}
.event-filegroup {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  float: left;
  margin: 3px;
  padding: 7px;
  text-align: center;
}
.event-filegroup:empty {
  display: none;
}
p.events_list-description:empty {
  display: none;
}
.events_list-content {
  padding: 15px;
}
/* ---------- Skivvy Styles for non Skivvy Sites ---------- */
.one_half {width:50%;}
.one_third {width:33.33%;}
.two_third {width:66.66%;}
.one_fourth {width:25%;}
.three_fourth {width:75%;}
.one_fifth {width:20%;}
.two_fifth {width:40%;}
.three_fifth {width:60%;}
.four_fifth {width:80%;}
.one_sixth {width: 16.66%;}
.five_sixth {width: 83.33%;}
.one_half, .one_third, .two_third, .one_fourth, .three_fourth,.one_fifth,.two_fifth, .three_fifth, .four_fifth,.one_sixth, .five_sixth {display:block;box-sizing:border-box;vertical-align:top; transition: all 0.5s ease 0s;}
.one_half, .one_third, .two_third, .one_fourth, .three_fourth,.one_fifth,.two_fifth, .three_fifth, .four_fifth,.one_sixth, .five_sixth,
  .alignleft, .responsive-left{float:left;}

/* ---------- Old Agenda Styles  ---------- */
.agenda-view td.calendar-day, .agenda-view td.calendar-day-np {
  display: none;
  width: 100% !important;
}
.agenda-view tr.calendar-row {
  display: block;
}
.agenda-view td.calendar-day-head {
  display: none;
}
.agenda-view td.calendar-day.has-events {
  display: block;
}

/* ---------- Agenda View ---------- */
.d4-cal-wrapper.events-style_agenda td {
    padding: 10px;
    text-align: center;
}

.d4-cal-wrapper.events-style_agenda .agenda-day-column {
    background: #333;
    color: #fff;
}

.d4-cal-wrapper.events-style_agenda .agenda-date-column {
    background: #279ad1 none repeat scroll 0 0;
    color: #fff;
    border: 0 none;
}

.events-style_agenda table.calendar {
    border-radius: 0;
}

.events-style_agenda tr {
    border-bottom: 1px solid #ccc;
}

.events-style_agenda tr:nth-of-type(2n) td {
    background: #fff;
}

.d4-cal-wrapper.events-style_agenda {
    background: #efefef;
}
.events-style_agenda table table {
    margin: 0;
}

.events-style_agenda table table tr:last-of-type {
    border: 0 none;
}
a.d4events-loadmore {
    cursor: pointer;
    /*display: none;*/
    text-align: center;
    padding: 5px;
    background: #208a72;
    color: #fff;
    border-radius: 5px;
}

.events-style_agenda table.calendar {
    margin: 0;
}
a.d4events-loadmore:hover {
    color: #fff;
}
.show-loadmore a.d4events-loadmore {
  display:block;
}
.d4-cal-inner {
    overflow-x: auto;
}
.d4-cal-wrapper .agenda-time-column {
    width: 25%;
}
/* ---------- Mobile ---------- */
@media all and (max-width: 675px)  {
td.calendar-day, td.calendar-day-np {
  display: none;
  width: 100% !important;
}
tr.calendar-row {
  display: block;
}
td.calendar-day-head {
  display: none;
}
td.calendar-day.has-events {
  display: block;
}
.events_list-datetime {
  float: none;
  margin-top: 7px;
}
.d4-cal-wrapper.events-style_list {
  padding: 10px 10px 0;
}
#single-event-wrapper .one_half {
  clear: both;
  float: none;
  margin-bottom: 20px;
  width: 100%;
}
.d4-cal-wrapper {
  min-width:none;
  font-size:0.8em;
}
.d4-cal-wrapper.events-style_agenda td {
    padding: 10px 5px;
    line-height: 15px;
}
}